@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    paddding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color:#333 ;
    line-height: 1.6;
}

ul {
    list-style: nonne;

}

a {
    color:#333
    text-decoration: none;
}

h1 vh2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px, 0;
}

img {
    width: 100%;

}